*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styles */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(218, 222, 224);
}

h1,
h2,
h3,
h4{
    font-weight: 500;
}

/* Utilities */
.container{
    width: 1500px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.btn{
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
}

/* Classi */
.main-header{
    line-height: 80px;
    font-size: 12px;
    border-bottom: 2px solid black;
}

.main-header .main-text{
    width: 50%;
}

.main-header .main-right{
    width: 50%;
    text-align: right;
}

.text{
    border-right: 5px grey;
}

.lista-1 li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.lista-1 a{
    text-decoration: none;
    color: black;
}

/* Border-header-contacts */
.border-contact{
    border-left: 1px solid black;
    padding-left: 10px;
}

.angle{
    padding-right: 10px;
}

/* Logo-searg */
.search{
    color: #1E90FF;
}

/* Bottone-1-2 */
.lista-1 .btn-1 {
    color: #FF8C00;
    border: 1px solid #FF8C00;
    background: #fff;
}

.lista-1 .btn-2{
    color: #fff;
    background: #FF8C00;
    border: transparent;
}

.btn-2-1 {
    color: #fff;
    background: #FF8C00;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}


.section-height{
    background-color: #fff;
    line-height: 80px;
}

.main-nav .right-nav{
    word-spacing: 5px;
    width: 50%;
    text-align: right;
}

.logo-main{
    width: 50%;
}

.logo{
    vertical-align: middle;
}

/* Background-image */
.section-background{
    position: relative;
    background-color: #FFF2EE;
    height: 555px;
    background-image: url(../img-hubspot/jumbotron.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 1500px;
}

.mini-container{
    width: 41%;
}

.mini-container h1{
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 50px;
    color: black;
}

.mini-container .paragrafo{
    color: black;
    padding-bottom: 25px;
}

.mini-container .paragrafo-2{
    padding-top: 25px;
    font-size: 12px;
}

/* Bordo */
.bordo{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: #7BDED2;
    border-style: solid;
}

/* Background-2 */
.section-background-2{
    padding-bottom: 30px;
}

.cubo{
    height: 200px;
}
.main-cube{
    padding-top: 40px;
    text-align: center;
}

.main-cube .text{
    font-size: 25px;
    padding-top: 15px;
}

.main-cube .text-2{
    padding-top: 20px;
    line-height: 26px;
}

/* CMR */
.box-1{
    margin-top: 45px;
}

/* .section-container2{
    text-align: center;
    background-color: #fff;
    width: 1500px;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 95px;
} */

.section-background-3{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 6px 18px #888888;
    height: 300px;
    padding-top: 30px;
}

.immagine-cmr{
    height: 200px;
}

.w-40{
    width: 40%;
}

.btn-3{
    display: inline-block;
    color: #fff;
    background: #FF8C00;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.w-60{
    width: 60%;
}

.cerchio-arancione{
    color: #FF8C00;
    text-decoration: none;
    padding-right: 10px;
}

.text-CMR{
    padding-top: 20px;
    padding-bottom: 10px;
}

.paragrafo-3{
    padding-bottom: 20px;
    line-height: 30px;
}

.feature{
    padding-bottom: 20px;
}

/* Mini-container */
.mini-container2{
    text-align: center;
}

.background{
    margin-bottom: 45px;
}

.sezioni{
    width: 32%;
    height: 700px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 5px 6px 18px #888888;
    padding: 33px;
    margin-left: 15px;
}

.marketing{
    height: 180px;
    padding-top: 30px;
}

.pre-testo{
    font-size: 30px;
    margin-bottom: 20px;
}

.pre-testo2{
    font-size: 25px;
}

.testo-lungo{
    line-height: 30px;
}

.lista-2{
    list-style: none;
    padding-top: 10px;
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 45px;
    text-align: left;
}

.linea{
    margin: 50px 15px;
}


/* Linea-gradient */
.container-linea{
    height: 800px;
    background-image: linear-gradient(to right, #07bca8 , #08a4bc );
}

.mini-container-gradient{
    text-align: center;
    color: #fff;
}

.mini-container-gradient .text-agradient{
    font-size: 40px;
    padding: 30px 0 30px 0;
}

.mini-container-gradient .text-agradient2{
    line-height: 35px;
    font-size: 17px;
}

.mini-border{
    width: 25%;
    height: 230px;
    text-align: center;
    padding-top: 20px;
    margin-top: 60px;
    color: #fff;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.mini-border .little-image{
    padding-top: 15px;
}

.mini-border .number{
    font-size: 45px;
    padding: 20px 0 20px 0
}

.border-right{
    border-right: none;
}

.last-left{
    border-right: none;
}

.border-bottom{
    border-bottom: none;
    margin: 0;
}

/* Logos-section */
.number2{
    font-size: 45px;
    padding: 30px 0 20px 0;
}

.fila-righe{
    padding-bottom: 20px;
}


.larghezza-img{
    height: 50px;
    padding-top: 20px;
}


/* Immagine-cinese-testo */
.container-prefooter{
    height: 800px;
    background-image: url(../img-hubspot/woman.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 25px;
}

.w-50{
    width: 38%;

}

.paragrafo-cinese{
    padding-top: 230px;
}

.start-text{
    font-size: 38px;
}
.padding{
    padding-bottom: 30px;
}
.top{
    padding-top: 30px;
}

.distanza-testo{
    line-height: 30px;
}

/* Footer */
.background-footer{
    background-color: rgb(50, 73, 91);
    height: 600px;
    color: #fff;
}

.w-25{
    width: 25%;
}

.increase-text{
    padding-top: 30px;
    font-size: 25px;
}

.lista-2{
    list-style: none;
    padding-left: 0;
}

.lista-2 .colonna{
    padding-bottom: 20px;
}

.btn-4{
    display: inline-block;
    color: rgb(50, 73, 91);
    background: #fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}